# Build and output directories
build/
out/
bin/
*.o
*.obj

# CMake & Compile Cache
**/CMakeFiles/
**/CMakeCache.txt
**/*.cmake
**/Makefile
**/_deps/

# Python caches and binaries
__pycache__/
*.pyd
*.dylib
*.a

# Whitelist the Engine
!hft_auditor*.so

# Virtual environments and secrets
.venv/
venv/
.env